<tui-input
  tuiAutoFocus
  tuiTextfieldSize="m"
  maxlength="200"
  [(ngModel)]="data.route"
  (input)="onInput($event)"
  (keydown.enter)="submit()"
>
  Имя эндпоинта
</tui-input>
<br>
<tui-select
  tuiAutoFocus
  tuiTextfieldSize="m"
  maxlength="200"
  [(ngModel)]="data.type"
  (keydown.enter)="submit()"
>
  Тип
  <select tuiSelect [items]="types"></select>
</tui-select>

<p>
  <button size="m" tuiButton type="button" [disabled]="!hasValue" (click)="submit()">
    Отправить
  </button>
</p>
