<div (keydown.enter)="handleSubmit()">
    <tui-input
      #nameInput
      tuiAutoFocus
      tuiTextfieldSize="m"
      maxlength="200"
      max
      [(ngModel)]="data.name"
      (input)="onInput($event)"
      (keydown.enter)="handleSubmit()"
      (keydown.arrowDown)="moveFocus(structureInputRef)"
      (keydown.arrowUp)="moveFocus(structureInputRef)"
    >
      Имя сущности
    </tui-input>
    <br />
  
    <tui-textarea
      #descriptionInput
      tuiAutoFocus
      tuiTextfieldSize="m"
      [(ngModel)]="structure"
      (keydown.enter)="$event.stopPropagation()"
      (keydown.arrowUp)="moveFocus(nameInputRef)"
      (keydown.arrowDown)="moveFocus(nameInputRef)"
    >
      Структура
    </tui-textarea>
  
    <p>
      <button size="m" tuiButton type="button" [disabled]="!hasValue"  (click)="handleSubmit()">
        Отправить
      </button>
    </p>
  </div>
  