.header-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Three columns for larger screens */
  align-items: center;
  gap: 10px; /* Spacing between elements */
  padding: 0px;
}

.filter-input {
  grid-column: 1; /* Search input in the first column */
}

.pagination-sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 2 / span 2; /* Pagination and sort container spans the second and third columns */
}

.custom-pagination {
  flex: 1; /* Pagination takes available space */
  justify-self: center; /* Center alignment */
}

.icons-container {
  flex: 1; /* Icons container takes available space */
  display: flex;
  justify-content: flex-end; /* Right alignment */
}

/* Adjust styles for mobile devices */
@media (max-width: 600px) {
  .header-section {
    grid-template-columns: 1fr; /* Single column for mobile */
    text-align: center; /* Center align text */
  }

  .filter-input {
    grid-column: 1; /* Search input in the single column */
    justify-self: center; /* Center alignment */
    width: 100%; /* Full width */
    max-width: 300px; /* Limit the maximum width */
    margin-bottom: 10px; /* Spacing between elements */
  }

  .pagination-sort-container {
    grid-column: 1; /* Pagination and sort container in the single column */
    justify-content: center; /* Center alignment */
    width: 100%; /* Full width */
    margin-bottom: 10px; /* Spacing between elements */
  }

  .custom-pagination {
    justify-self: center; /* Center alignment */
  }

  .icons-container {
    justify-content: flex-end; /* Right alignment */
  }
}

.checkbox-container input {
  opacity: 0;
  position: absolute;
}

.checkmark {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #0056a6;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #0056a6;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Добавим новые стили */
.selection-controls {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: auto;
}

.checkbox-container {
  display: none;
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 1;
}

.selection-mode .checkbox-container {
  display: block;
}

.primary-button{
  margin: 0px;
  margin-top: 1rem;
}